{{#if successMsg}}
<div class="alert alert-success">{{successMsg}}</div>
{{/if}}

{{#if errorMsg}}
<div class="alert alert-danger">{{errorMsg}}</div>
{{/if}}

{{#if error}}
<div class="alert alert-danger">{{error}}</div>
{{/if}}