<h3>Login</h3>
<div class="card mt-3">
    <div class="card-body">
        <form action="/user/login/action" method="post">
<div class="mb-3">
  <label for="email" class="form-label">Email:</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Seu email" required>
</div>
<div class="mb-3">
  <label for="senha" class="form-label">Senha:</label>
    <input type="password" class="form-control" id="senha" name="senha" placeholder="Sua senha" required>
</div>
 <button type="submit" class="btn btn-success mt-2" id="btnSubmit">Cadastrar</button>
</form>
    </div>
</div>